[project]
	description = A caching, resizing image proxy written in Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hugues Alary (huguesalary)
[access "refs/for/refs/*"]
	read = group user/Hugues Alary (huguesalary)
	push = group user/Hugues Alary (huguesalary)
	label-Code-Review = -2..+2 group user/Hugues Alary (huguesalary)
	label-Verified = -1..+1 group user/Hugues Alary (huguesalary)
	rebase = group user/Hugues Alary (huguesalary)
	removeReviewer = group user/Hugues Alary (huguesalary)
	submit = group user/Hugues Alary (huguesalary)
[access "refs/heads/*"]
	read = group user/Hugues Alary (huguesalary)
	create = group user/Hugues Alary (huguesalary)
	push = +force group user/Hugues Alary (huguesalary)
	pushMerge = group user/Hugues Alary (huguesalary)
[access "refs/tags/*"]
	push = +force group user/Hugues Alary (huguesalary)
	pushTag = group user/Hugues Alary (huguesalary)
	pushSignedTag = group user/Hugues Alary (huguesalary)
